/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rbenv
.ruby-version

/.vscode
/Gemfile.lock
/vendor/bundle

# rspec failure tracking
.rspec_status

# RubyMine
/.idea/
/.rakeTasks
